<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="machat.machat">

    <application
        android:name=".main.MachatApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_home_white_48pt_3x_background"
        android:label="@string/app_name"
        android:exported="false"
        android:theme="@style/AppTheme">
        <receiver android:name=".util.receivers.StartServiceReciever">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".main.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.activities.LoginOrRegisterActivity"
            android:theme="@style/SplashTheme" />

        <activity
            android:name=".main.activities.LoginActivity"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="stateVisible" />

        <activity
            android:name=".main.activities.RegisterActivity"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="stateVisible" />

        <activity android:name=".main.activities.FavoriteListActivity" />

        <activity
            android:name=".main.activities.HouseActivity"
            android:parentActivityName=".main.activities.FavoriteListActivity"
            android:theme="@style/HouseTheme"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.activities.FavoriteListActivity" />
        </activity>

        <activity
            android:name=".main.activities.SearchActivity"
            android:theme="@style/SearchTheme" />

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <activity
            android:name=".main.activities.ProfileActivity"
            android:theme="@style/HouseTheme" />

        <activity android:name=".main.activities.MyProfileActivity" />

        <service android:name=".util.SocketService" />

        <activity
            android:name=".main.activities.BlockListActivity"
            android:theme="@style/HouseTheme" />

        <activity
            android:name=".main.activities.AvatarActivity"
            android:theme="@style/HouseTheme"/>

    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
</manifest>
